<h3>Fibonacci sequence</h3>
<input type="number" [(ngModel)]="number" min="1">
<button type="button" (click)="definitionSeries(number)" [disabled]="number < 1" >Click</button>

<p>{{fibonacciSeries | json}}</p>
<p *ngIf="number < 1">Fibonacci sequence cannot be less than 1</p>

<h3>letter within the string.</h3>

<div class="preference">
  <label for="select-string">word</label>
  <input type="text" [(ngModel)]="string" id="select-string">
</div>

<div class="preference">
  <label for="select-letter">letter</label>
  <input type="text" [(ngModel)]="letter" id="select-letter">
</div>

<button type="button" (click)="countNumber(string, letter)"  >Click</button>

<p>{{numberLetter}}</p>
